@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet|Quicksand|Barlow");

html {
    scroll-behavior: smooth;

}


  
#video {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width:320px;
    height:240px;
  }
  
  #photo {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width:320px;
    height:240px;
  }
  
  #canvas {
    display:none;
  }
  
  .camera {
    width: 340px;
    display:inline-block;
  }
  
  .output {
    width: 340px;
    display:inline-block;
  }
  
  #startbutton {
    display:block;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    bottom:32px;
    background-color: rgba(0, 150, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    color: rgba(255, 255, 255, 1.0);
  }
  
  .contentarea {
    font-size: 16px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    width: 760px;
  }

main {
    font-family: Barlow, Quicksand, Rubik, sans-serif, serif, 'Times New Roman', Times, serif !important;
}

footer {
    font-family: Rubik, sans-serif, serif, 'Times New Roman', Times, serif;
}

.example::-webkit-scrollbar {
    display: none;
}

.navbar {
    background-color: rgb(71, 194, 243) !important;
}

.card {
    box-shadow: 15px 15px 10px rgb(78, 77, 77);

}

.card-header:hover {
    background: rgb(11, 22, 83) !important;
    color: whitesmoke !important;
    transition: 0.1s ease-in;
}

.card a {
    text-decoration: none;
}

.card-header {
    color: black !important;
    background: rgb(152, 214, 230) !important;
    transition: 0.3s ease-in;

}

.nav-link:hover {
    background: black !important;
    color: white !important;
    transition: 0.7s ease;
}

.icon-bar {
    color: black;
}



/* .card {
    width: 80%;
    text-emphasis: none;
    text-decoration: none;
    border: 3px black solid;
    box-shadow: 4px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: #e0ebf3;
} */

.card h4 {
    margin: 40px 40px 0 40px;
    text-align: left;
}

.card h6 {
    margin: 25px 40px 0 40px;
    text-align: left;
}

.card p {
    text-align: right;
    margin-right: 50px;
    line-height: 10px;
}


.button {
    display: inline-block;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;

    padding: .8em 1.4em;
    padding-right: 4.7em;
    background: #009ED8;
    border: none;
    color: white;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

/* body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.5));
    overflow-x: hidden;
    background-repeat: no-repeat;
} */



.card-header {
    background-color: rgb(133, 204, 231);
}



.myimage {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.myimage:hover {
    opacity: 0.9;
    transform: scale(1.02);

}


.btn:hover {
    background: black;
    color: white;
    border: 0.5px solid white;
}

.fa:hover {
    color: red;

}

.fa {
    color: white;
}

.profa {
    color: black;
}


footer .container-fluid {
    padding: 10vmin 10vmin;
}

footer .column a+a {
    padding: 0 0.7em;
}



.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.account-img {
    height: 125px !important;
    width: 125px !important;
    margin-right: 20px;
    margin-bottom: 16px;
}
@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet|Quicksand|Barlow");

html {
    scroll-behavior: smooth;

}
#video {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width:320px;
    height:240px;
  }
  
  #photo {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width:320px;
    height:240px;
  }
  
  #canvas {
    display:none;
  }
  
  .camera {
    width: 340px;
    display:inline-block;
  }
  
  a.navbar-brand{
    font-family: 'Macondo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-transform: capitalize;
    color: #FFFFFF;
  }

  .output {
    width: 340px;
    display:inline-block;
  }
  
  #startbutton {
    display:block;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    bottom:32px;
    background-color: rgba(0, 150, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    color: rgba(255, 255, 255, 1.0);
  }
  
  .contentarea {
    font-size: 16px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    width: 760px;
  }

main {
    font-family: Barlow, Quicksand, Rubik, sans-serif, serif, 'Times New Roman', Times, serif !important;
}

footer {
    font-family: Rubik, sans-serif, serif, 'Times New Roman', Times, serif;
}

.example::-webkit-scrollbar {
    display: none;
}

.navbar {
    background-color:#E9E8E8 !important;
}

.card {
    box-shadow: 15px 15px 10px rgb(78, 77, 77);

}

.card-header:hover {
    background: rgb(11, 22, 83) !important;
    color: whitesmoke !important;
    transition: 0.1s ease-in;
}

.card a {
    text-decoration: none;
}

.card-header {
    color: black !important;
    background: rgb(152, 214, 230) !important;
    transition: 0.3s ease-in;

}

.nav-link:hover {
    background: black !important;
    color: white !important;
    transition: 0.7s ease;
}

.icon-bar {
    color: black;
}



/* .card {
    width: 80%;
    text-emphasis: none;
    text-decoration: none;
    border: 3px black solid;
    box-shadow: 4px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: #e0ebf3;
} */

.card h4 {
    margin: 40px 40px 0 40px;
    text-align: left;
}

.card h6 {
    margin: 25px 40px 0 40px;
    text-align: left;
}

.card p {
    text-align: right;
    margin-right: 50px;
    line-height: 10px;
}


.button {
    display: inline-block;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;

    padding: .8em 1.4em;
    padding-right: 4.7em;
    background:  #212529;
    border: none;
    color: white;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}


body {
    background-image: url("../images/bg1.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white !important;
  }
.mainHead {
    color:#E9E8E8;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    
  } 

.subHead {
    color: #E9E8E8;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    border-bottom: #212529;
    
}
.btn-outline-info{
    width: 124px;
    height: 42px;
    
    background: #E9E8E8;
    border-radius: 15px;
    color:#212529;
}

.ml-2{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    align-self: center;

    color: #E9E8E8;
    font-stretch: 85;
}
.border-top{
    text-align: center;
    font-weight: bold;
    border-top: 0!important;
}
.border-bottom{
    border-bottom: 0;
}
.form-control{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}


.card-header {
    background-color: rgb(133, 204, 231);
}

.btnDiv{
    width: 50%;
    margin: auto;
}

.myimage {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.myimage:hover {
    opacity: 0.9;
    transform: scale(1.02);

}


.btn:hover {
    background: black;
    color: white;
    border: 0.5px solid white;
}

.fa:hover {
    color: red;

}

.fa {
    color: white;
}

.profa {
    color: black;
}


footer .container-fluid {
    padding: 10vmin 10vmin;
}

footer .column a+a {
    padding: 0 0.7em;
}



.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.account-img {
    height: 125px !important;
    width: 125px !important;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}
.account-heading {
    font-size: 2.5rem;
}