{% extends 'user/base.html' %} {% load static %} {% load crispy_forms_tags%}
{% block content %}
<!-- <h1>helo</h1> -->

<div class="container col-md-6">
  <button type="button" class="btn btn-danger" onclick="push()"> 
    <!-- <a href="{% url 'safety'%}" >Send Broadcast Message</a> -->
    Send Broadcast message
    </button>
</form>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.min.js"></script>

<script>

async function push() {
    // Create a new FileReader object
const reader = new FileReader();

// Set up an event listener for when the file has been loaded
reader.onload = function(event) {
  console.log(event.target.result);
};


  const options = {
    userName: 'solace-cloud-client',
    password: 'chhe5o2afe2pdvu66oj6tgd05k',
    useSSL: true,
    onSuccess: onConnect,
    onFailure: onFailure,
  }
  const connectUrl = 'mr-connection-pi5rgecxa7b.messaging.solace.cloud';
  const client = new Paho.MQTT.Client(connectUrl,Number(8443),"clientId-2");
  client.useSSL = true
  client.connect(options);
  client.onMessageArrived = onMessageArrived
  function onMessageArrived(message) {
    console.log("response: " + message.payloadString);
  }

  function onConnectionLost(responseObject) {
    if (responseObject.errorCode !== 0) {
      console.log("onConnectionLost:" + responseObject.errorMessage);
    }
  }

  function onConnect() {
    console.log("Connected to MQTT Broker");
    client.send("STEM/1/CRX-401/student", "Are you safe");
    client.subscribe("response");
   
  }


    
    // client.connect({
    //     userName: "solace-cloud-client",
    //     password: "chhe5o2afe2pdvu66oj6tgd05k",
    //     useSSL: true,
    //     onSuccess: function() {
    //         console.log("Connected to publish");
    //         // client.subscribe("response", { qos: 0 });
    //         client.send("STEM/1/CRX-401/student", "Are you safe");
    //     },
    //     onFailure: function(e) {
    //         console.log("Connection failed, ERROR: " + e.errorMessage);
    //     }
    // });
}

</script>









{% endblock content %}
